<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="text-align: center">О проекте</h1>
<br>
<p>Существует газета электронных объявлений, в которой есть раздел «Ищу тебя», где люди могут создать пост о человеке,
    увиденном на улице или в любом общественном месте, который улыбнулся им или пересёкся взглядом. Они надеятся, что
    человек прочитает это объявление и откликнется. Мы сделаем наоборот: про людей, которых вы увидели в общественном
    месте и быстро отвернулись, надеясь, что они не заговорят с вами. Обычно это нищие, юристы и алкаши в общественном
    транспорте. Некоторые из этих типов людей могут делать эксцентричные вещи, особенно если они пьяные, так что это
    будет прекрасная возможность поделиться историей. Для этого и создан данный блог.</p>
<br>
<a href="https://github.com/Oduvanchek228" style="color: blue">Мой GitHub</a>
</body>
</html>